<h1>Room Two</h1>
<form action="/room3" method="post">
  <div class="container">
    <div class="row">
      <button type="submit" class="btn btn-primary" name= "select" value="forward">Forward</button>
    </div>

    <br>

    <div class="row">
      <button type="submit" class="btn btn-primary" name= "select" value="left">Left</button>
      <button type="submit" class="btn btn-primary" name= "select" value="right">Right</button>
    </div>

    <br>

    <div class="row">
      <button type="submit" class="btn btn-primary" name= "select" value="backward">Backward</button>
    </div>
  </div>
</form>
