<h1>Room 1</h1>

  <form action="/room2" method="post">
    <div class="row">
      <button type="submit" class="btn btn-primary" value="forward" disabled>Forward</button>
    </div>

    <br>

    <div class="row">
      <button type="submit" class="btn btn-primary" name= "select" value="left">Left</button>
      <button type="submit" class="btn btn-primary" name= "select" value="right">Right</button>
    </div>

    <br>

    <div class="row">
      <button type="submit" class="btn btn-primary" name= "select" value="backward">Backward</button>
    </div>
</form>
