<h1>Welcome to the Maze!</h1>
<div class="container">
  <form action="/start" method="post">
    <div class="row">
      <button type="submit" class="btn btn-primary" name="start" value="forward">Start Maze</button>
    </div>
  </form>
</div>
